.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: right;
  width: 390px;
  margin-bottom: 10px;
}

.body {
  display: flex;
  justify-content: left;
}

.list {
  width: 150px;
  justify-content: left;
}

form {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.update-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
  cursor: pointer;
}

textarea {
  width: 200px;
  height: 220px;
  border-radius: 10px;
  margin-bottom: 10px;
}

button {
  width: 90px;
  cursor: pointer;
}
