.container {
  display: flex;
  flex-direction: column;
}

.header {
  border: solid;
  width: 400px;
  display: flex;
  justify-content: right;
}

.body {
  display: flex;
	justify-content: left;
}

.list {
  border: solid;
  display: flex;
  justify-content: left;
  /* width: 120px; */
}

form {
  display: flex;
  flex-direction: column;
  width: 280px;
  border: solid;
}

.update-delete {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
  /* padding: 10px; */
  /* margin: 10px; */
  cursor: pointer;
}

textarea {
  width: 180px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

button {
  width: 90px;
  margin: 10px;
  cursor: pointer;
}
