.container {
  display: flex;
}

.add,
.edit {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

/* form { */
/*  display: flex; */
/*  flex-direction: column; */
/*  margin-left: 50px; */
/* } */


/* .buttons { */
/*   display: flex; */
/* } */

.update-delete {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

li {
  text-align: left;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

textarea {
  width: 150px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

button {
  width: 75px;
  margin: 10px;
  cursor: pointer;
}


